<h1 class="text-center mb-4">Changing Password</h1>

<%= render partial: 'shared/errors', locals: { entity: @user } %>

<%= form_with(url: update_password_user_path(@user), scope: :user,
              local: true, class: 'mx-auto') do |f| %>
  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit 'Change Password', class: 'btn btn-primary mt-4 d-block mx-auto' %>
<% end %>
