<h1 class="text-center mb-4">Creating a Post</h1>

<%= render partial: 'shared/errors', locals: { entity: @post } %>

<%= form_with(url: renew_posts_url, scope: :post, local: true, class: 'mx-auto') do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control', rows: 10 %>
  </div>

  <%= f.submit class: 'btn btn-primary d-block mx-auto mt-4' %>
<% end %>
