<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="flash m-4">
      <% flash.each do |key, msg| %>
        <div class="alert alert-<%= key %>"><%= msg %></div>
      <% end %>
    </div>

    <div class="container">
      <div class="row">
        <main class="<%= controller_name %> pt-5 col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
