<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <aside>
      <nav>
        <ul>
          <li>
            <%= link_to 'Log in', login_path %>
          </li>
        </ul>
      </nav>
    </aside>

    <%= yield %>
  </body>
</html>
