<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
      'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <aside>
      <nav>
        <ul>
          <% unless logged_in? %>
            <li>
              <%= link_to 'Log in', login_path %>
            </li>
          <% else %>
            <li>
              <%= link_to 'Log out', logout_path,
                method: :delete %>
            </li>
          <% end %>
        </ul>
      </nav>
    </aside>

    <%= yield %>
  </body>
</html>
